* {
    font-family: Verdana, "DejaVu Sans",sans-serif;
}

/* classes */
.odd {
    background-color: lightpink;
}

.cool{
    font-size: 24px;
}


/* ID */
#elem_2 {
    font-size: 36px;
    color: blue;
}

#elem_4{
    font-weight: bold;   
    background-color: lightgreen;
}