body{
    font-family: sans-serif;
}

/* Grouping characteristics */
*{
    color: white;
    font-size: 18px;
}

/* Individual characteristics */
div {
    /* text properties */
    font-size: 32px;
    font-weight: bold;
    text-align: center;

    /* color */
    background-color: red;
}